body {
	background-color: #2F3336;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1 {
	font-size: 36px;
	font-weight: 400;
	color: #C0D06F;
	margin: 20px;
}

header {
	text-align: center;
	color: #2F3336;
	font-weight: bold;
	padding: 30px;
	background-color: #34deeb;
}

section {
	text-align: center;
	border: 1px solid black;
}

footer {
	text-align: center;
	color: #2F3336;
	font-weight: bold;
	padding: 30px;
	background-color: #34deeb;
}
